In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import csv

 Download The datasets

In [2]:
import os

os.listdir('.')

['.git',
 'registration.csv',
 'sample_submission.csv',
 'task.ipynb',
 'test.csv',
 'train.csv']

In [3]:
#read the datasets
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

In [4]:
#merge the datasete
df=pd.merge(df_train,df_test)

 Explore the datasets

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      22 non-null     object
 1   Age                             22 non-null     float64
 2   Gender                          22 non-null     object
 3   Home Region                     22 non-null     object
 4   Home City                       22 non-null     object
 5   Program ID                      22 non-null     object
 6   Program Main Category Code      22 non-null     object
 7   Program Sub Category Code       11 non-null     object
 8   Technology Type                 9 non-null      object
 9   Program Skill Level             21 non-null     object
 10  Program Presentation Method     22 non-null     object
 11  Program Start Date              22 non-null     object
 12  Program End Date                22 non-null     object
 13  Program Days                    22 non-null     int64
 14  Completed Degree                22 non-null     object
 15  Level of Education              22 non-null     object
 16  Education Speaciality           21 non-null     object
 17  College                         9 non-null      object
 18  University Degree Score         22 non-null     float64
 19  University Degree Score System  22 non-null     float64
 20  Employment Status               19 non-null     object
 21  Job Type                        5 non-null      object
 22  Still Working                   5 non-null      object
 23  Y                               22 non-null     int64
dtypes: float64(3), int64(2), object(19)
memory usage: 4.2+ KB

In [6]:
df.describe()

,Age,Program Days,University Degree Score,University Degree Score System,Y
count,22.000000,22.000000,22.000000,22.000000,22.000000
mean,29.272727,25.590909,10.549545,13.409091,0.136364
std,6.511395,19.689637,22.822862,28.030016,0.351250
min,20.000000,5.000000,2.000000,4.000000,0.000000
25%,25.000000,12.000000,3.010000,5.000000,0.000000
50%,27.000000,19.000000,3.830000,5.000000,0.000000
75%,33.500000,50.500000,4.472500,5.000000,0.000000
max,44.000000,59.000000,82.000000,100.000000,1.000000

In [7]:
df.shape

(22, 24)

In [8]:
df.tail()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
17,026169d9-6052-4d50-805b-7a52f15d5384,23.0,ذكر,منطقة الحدود الشمالية,رفحاء,bfe7c8aa-789e-4239-8043-8e7554fa564a,TOSL,NaN,NaN,متوسط,...,نعم,البكالوريوس,علوم حاسب,NaN,4.98,5.0,موظف,NaN,NaN,0
18,b0c4a2d0-3bfb-4485-bedd-bf33951e1ac6,25.0,أنثى,منطقة الرياض,الرياض,3dd29418-5f9d-4f1f-88bd-15beb922c745,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,علوم حاسب,NaN,4.22,5.0,موظف,NaN,NaN,0
19,07635383-2679-49e4-a6ff-2ca71139d17a,25.0,ذكر,منطقة الجوف,طبرجل,1f09a274-8f35-41a1-9a5e-61a5f1cb98fc,TOSL,NaN,NaN,متوسط,...,نعم,البكالوريوس,علوم الحاسبات,تكنولوجيا الاتصالات والمعلومات,4.72,5.0,موظف,دوام كامل,Yes,0
20,46a8c358-353b-4766-9a88-180226d1df7e,24.0,أنثى,منطقة الرياض,الرياض,321e4dc8-c3c4-4173-bca5-59a0bd9f327c,PCRF,PCRF,تقليدية,متوسط,...,نعم,البكالوريوس,معلوماتية صحية,NaN,3.00,5.0,موظف,NaN,NaN,0
21,dd53ed38-f828-4b04-a8c1-b56be38ec586,35.0,ذكر,منطقة الرياض,الرياض,21c233a1-0101-44e6-8af8-39d545bddaaf,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,نظم المعلومات,تكنولوجيا الاتصالات والمعلومات,3.00,5.0,موظف,دوام كامل,Yes,0

In [9]:
df.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

In [10]:
#split fueatura and target (X:Fueatura Y:target)
X = df.drop(columns=['Y'])
y = df['Y']

preprocessing

In [11]:
#display the sum of null values in each column
df.isna().sum()

Student ID                         0
Age                                0
Gender                             0
Home Region                        0
Home City                          0
Program ID                         0
Program Main Category Code         0
Program Sub Category Code         11
Technology Type                   13
Program Skill Level                1
Program Presentation Method        0
Program Start Date                 0
Program End Date                   0
Program Days                       0
Completed Degree                   0
Level of Education                 0
Education Speaciality              1
College                           13
University Degree Score            0
University Degree Score System     0
Employment Status                  3
Job Type                          17
Still Working                     17
Y                                  0
dtype: int64

In [12]:
#data types for all
df.dtypes

Student ID                         object
Age                               float64
Gender                             object
Home Region                        object
Home City                          object
Program ID                         object
Program Main Category Code         object
Program Sub Category Code          object
Technology Type                    object
Program Skill Level                object
Program Presentation Method        object
Program Start Date                 object
Program End Date                   object
Program Days                        int64
Completed Degree                   object
Level of Education                 object
Education Speaciality              object
College                            object
University Degree Score           float64
University Degree Score System    float64
Employment Status                  object
Job Type                           object
Still Working                      object
Y                                   int64
dtype: object

In [13]:
#convert float to int
df['Age']=df['Age'].astype('int')

In [14]:
# fill null values
df['Age'].fillna(df['Age'].mean() , inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\2663022285.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean() , inplace=True)

In [15]:
#drop the student id and program id
df = df.drop(['Student ID','Program ID'], axis=1)

In [16]:
print(df['Gender'].value_counts())

Gender
ذكر     14
أنثى     8
Name: count, dtype: int64

In [17]:
# fill null values
df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\1141015461.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\1141015461.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)

In [50]:
# fill null values
df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)
df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)
df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\400713925.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\400713925.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\400713925.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)

In [21]:
#df['Program Presentation Method'] = df['Program Presentation Method'].astype(bool)

In [22]:
#conert to a datatime 
df['Program Start Date'] = pd.to_datetime(df['Program Start Date'])
df['Program End Date'] = pd.to_datetime(df['Program End Date'])

In [23]:
#df['Completed Degree'] = df['Completed Degree'].astype(bool)

In [52]:
# fill null values
df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)
df['College'].fillna(df['College'].mode()[0], inplace=True)
df['University Degree Score'].fillna(df['University Degree Score'].mean() , inplace=True)
df['University Degree Score System'].fillna(df['University Degree Score System'].mean() , inplace=True)
df['Education Speaciality'].fillna(df['Education Speaciality'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3622662722.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3622662722.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['College'].fillna(df['College'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3622662722.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['University Degree Score'].fillna(df['University Degree Score'].mean() , inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3622662722.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['University Degree Score System'].fillna(df['University Degree Score System'].mean() , inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3622662722.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education Speaciality'].fillna(df['Education Speaciality'].mode()[0], inplace=True)

In [28]:
#to know the major 
df['Education Speaciality']

0                          علوم الحاسبات
1                              علوم حاسب
2                     شبكات الحاسب الآلي
3                          علوم الحاسبات
4                                 محاسبة
5                 Information technology
6                        تقنية المعلومات
7     Computer Network and Communication
8                              غير متخصص
9                          علوم الحاسبات
10                            هندسة حاسب
11                        هندسة حاسب آلي
12                         علوم الحاسبات
13                         علوم الحاسبات
14                             علوم حاسب
15                بكالوريس خدمة اجتماعيه
16                         نظم المعلومات
17                             علوم حاسب
18                             علوم حاسب
19                         علوم الحاسبات
20                        معلوماتية صحية
21                         نظم المعلومات
Name: Education Speaciality, dtype: object

In [29]:
#convert the name of major to one name 
df['Education Speaciality']=df['Education Speaciality'].replace({'Computer Science':"علوم الحاسب"})
df['Education Speaciality']=df['Education Speaciality'].replace({'Information technology': 'تقنية المعلومات'})
df['Education Speaciality']=df['Education Speaciality'].replace({'Cyber security': 'أمن سيبراني'})
df['Education Speaciality']=df['Education Speaciality'].replace({'امن سيبراني': 'أمن سيبراني'})

In [30]:
#convert the name of major to one name
df['Education Speaciality']=df['Education Speaciality'].replace({'علوم الحاسبات':"علوم الحاسب"})
df['Education Speaciality']=df['Education Speaciality'].replace({'علوم حاسب':"علوم الحاسب"})

In [31]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'هندسة برمجيات': 'هندسة البرمجيات',
    'هندسة حاسب': 'هندسة البرمجيات',
   'هندسة الحاسب': 'هندسة البرمجيات',
    'Software Engineering': 'هندسة البرمجيات',
    'هندسة حاسب آلي': 'هندسة البرمجيات ',
   "هندسة تقنية برمجيات": 'هندسة البرمجيات',
    "هندسةالبرمجيات": "هندسة البرمجيات",
})

In [32]:
#convert the name of major to one name
df['Education Speaciality']=df['Education Speaciality'].replace({"Computer Network and Communication":"شبكات الحاسب الآلي"})

In [33]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'MIS': 'نظم المعلومات الإدارية',
    'نظم معلومات إدارية': 'نظم المعلومات الإدارية',
   "نظم معلومات ادارية": 'نظم المعلومات الإدارية',
})

In [34]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'Information Systems': 'نظم المعلومات',
    'Computer Information Systems': 'نظم المعلومات',
    'نظم معلومات': 'نظم المعلومات',
    'نظم المعلومات الحاسوبية': 'نظم المعلومات',
    'نظم معلومات الحاسوبية': 'نظم المعلومات'
})

In [35]:
df['Education Speaciality'].value_counts()

Education Speaciality
علوم الحاسب               10
شبكات الحاسب الآلي         2
تقنية المعلومات            2
نظم المعلومات              2
محاسبة                     1
غير متخصص                  1
هندسة البرمجيات            1
هندسة البرمجيات            1
بكالوريس خدمة اجتماعيه     1
معلوماتية صحية             1
Name: count, dtype: int64

In [53]:
#fill the missing 
df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)
df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3249025697.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3249025697.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_22032\3249025697.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

In [37]:
#df['Still Working'] = df['Still Working'].astype(bool)

In [39]:
#conert the target to boolean
df['Y'] = df['Y'].astype(bool)

In [40]:
df['Y'].value_counts()

Y
False    19
True      3
Name: count, dtype: int64

In [42]:
#cheak the missing value 
df.isna().sum()

Age                               0
Gender                            0
Home Region                       0
Home City                         0
Program Main Category Code        0
Program Sub Category Code         0
Technology Type                   0
Program Skill Level               0
Program Presentation Method       0
Program Start Date                0
Program End Date                  0
Program Days                      0
Completed Degree                  0
Level of Education                0
Education Speaciality             0
College                           0
University Degree Score           0
University Degree Score System    0
Employment Status                 0
Job Type                          0
Still Working                     0
Y                                 0
dtype: int64

In [43]:
#cheak the duplicates
df.duplicated().sum()

0

In [44]:
#drop the duplicates
df=df.drop_duplicates()

In [45]:
#cheak the duplicates
df.duplicated().sum()

0

In [46]:
#split the data to categorical and numrical
Categorical = df.select_dtypes(include=[object]).columns
numerical = df.select_dtypes(include=[int,float]).columns

 encoding categorical variables

In [47]:
#convert categorical to encoding
from sklearn.preprocessing import OneHotEncoder
#Convert 'Categorical' to a 2D array
categorical_2d = Categorical.values.reshape(-1, 1)
Encoder=OneHotEncoder(sparse_output=False)
E_Categorical=Encoder.fit_transform(categorical_2d)

Scaling numerical features

In [48]:
#convert numerical to scalling
from sklearn.preprocessing import StandardScaler
#Convert 'Categorical' to a 2D array
numerical_2d = numerical.values.reshape(-1, 1)
Scaler=StandardScaler()
numerical=Encoder.fit_transform(numerical_2d)

 Split the preprocessed data into training and testing sets.

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

 Implement machine learning models to predict student persistence and completion 
rates. You can start with simple models like logistic regression or decision trees.