In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6548 entries, 0 to 6547
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      6548 non-null   object
 1   Age                             6456 non-null   float64
 2   Gender                          6548 non-null   object
 3   Home Region                     6546 non-null   object
 4   Home City                       6546 non-null   object
 5   Program ID                      6548 non-null   object
 6   Program Main Category Code      6548 non-null   object
 7   Program Sub Category Code       5613 non-null   object
 8   Technology Type                 3566 non-null   object
 9   Program Skill Level             4902 non-null   object
 10  Program Presentation Method     6548 non-null   object
 11  Program Start Date              6548 non-null   object
 12  Program End Date                6548 non-null   object
 13  Program Days                    6548 non-null   int64
 14  Completed Degree                6548 non-null   object
 15  Level of Education              6522 non-null   object
 16  Education Speaciality           6271 non-null   object
 17  College                         2658 non-null   object
 18  University Degree Score         6467 non-null   float64
 19  University Degree Score System  6467 non-null   float64
 20  Employment Status               5982 non-null   object
 21  Job Type                        1981 non-null   object
 22  Still Working                   1981 non-null   object
 23  Y                               6548 non-null   int64
dtypes: float64(3), int64(2), object(19)
memory usage: 1.2+ MB

In [4]:
df.describe()

,Age,Program Days,University Degree Score,University Degree Score System,Y
count,6456.000000,6548.000000,6467.000000,6467.000000,6548.000000
mean,26.831165,19.691662,8.224432,9.773929,0.158674
std,5.535967,32.112061,19.120384,21.259962,0.365400
min,18.000000,3.000000,0.000000,4.000000,0.000000
25%,23.000000,5.000000,3.300000,5.000000,0.000000
50%,25.000000,12.000000,4.000000,5.000000,0.000000
75%,29.000000,19.000000,4.510000,5.000000,0.000000
max,57.000000,292.000000,100.000000,100.000000,1.000000

In [5]:
df.shape

(6548, 24)

In [6]:
df.head()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,4f14c50d-162e-4a15-9cf0-ec129c33bcf0,37.0,ذكر,منطقة الرياض,الرياض,453686d8-4023-4506-b2df-fac8b059ac26,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,هندسة حاسب الالي,NaN,2.44,4.0,غير موظف,NaN,NaN,0
1,0599d409-876b-41a5-af05-749ef0e77d32,21.0,ذكر,منطقة عسير,خميس مشيط,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0
2,38a11c0e-4afc-4261-9c64-e94cc0a272fb,24.0,ذكر,منطقة الرياض,الرياض,e006900d-05a9-4c2b-a36f-0ffb9fce44cd,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,Information Technology,NaN,3.50,5.0,موظف,NaN,NaN,0
3,1693e85b-f80e-40ce-846f-395ddcece6d3,23.0,ذكر,منطقة الرياض,الرياض,2ec15f6b-233b-428a-b9f5-e40bc8d14cf9,TOSL,TOSL,NaN,NaN,...,نعم,البكالوريوس,حوسبة تطبيقية - (مسار شبكات الحاسب),NaN,3.55,5.0,خريج,NaN,NaN,0
4,98a0e8d0-5f80-4634-afd8-322aa0902863,23.0,ذكر,منطقة الرياض,الرياض,d32da0e9-1aed-48c3-992d-a22f9ccc741e,CAUF,SWPS,تقليدية,متوسط,...,لا,البكالوريوس,نظم المعلومات الحاسوبية,تكنولوجيا الاتصالات والمعلومات,4.00,5.0,NaN,NaN,NaN,0

In [7]:
df.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

In [8]:
Features = df.drop(columns=['Y'])  # Features
target = df['Y']

In [9]:
print("features in the datasets",Features)
print("Target Variable:", target)

features in the datasets                                 Student ID   Age Gender   Home Region  \
0     4f14c50d-162e-4a15-9cf0-ec129c33bcf0  37.0    ذكر  منطقة الرياض
1     0599d409-876b-41a5-af05-749ef0e77d32  21.0    ذكر    منطقة عسير
2     38a11c0e-4afc-4261-9c64-e94cc0a272fb  24.0    ذكر  منطقة الرياض
3     1693e85b-f80e-40ce-846f-395ddcece6d3  23.0    ذكر  منطقة الرياض
4     98a0e8d0-5f80-4634-afd8-322aa0902863  23.0    ذكر  منطقة الرياض
...                                    ...   ...    ...           ...
6543  cd196579-9590-441b-8787-41078f3cee25  31.0   أنثى  منطقة الرياض
6544  37bfc11c-ff8c-42dc-9cf9-0d13bb8f7131  27.0   أنثى  منطقة القصيم
6545  fc114302-a79f-439f-a08b-fe0a51cf839e  24.0   أنثى  منطقة الرياض
6546  4b6d9a36-4402-4c75-bc3a-fca927dbaf65  25.0    ذكر  منطقة الرياض
6547  008f3386-0d43-45a4-8372-b282e5a0101a  37.0   أنثى  منطقة الرياض

      Home City                            Program ID  \
0        الرياض  453686d8-4023-4506-b2df-fac8b059ac26
1     خميس مشيط  cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60
2        الرياض  e006900d-05a9-4c2b-a36f-0ffb9fce44cd
3        الرياض  2ec15f6b-233b-428a-b9f5-e40bc8d14cf9
4        الرياض  d32da0e9-1aed-48c3-992d-a22f9ccc741e
...         ...                                   ...
6543     الرياض  4f8c696a-b783-4d40-9776-105f6d3bd624
6544      بريدة  e94942dd-8684-4746-97ae-df567b9b0a4a
6545     الرياض  02ae0b47-64a6-47a1-b3c5-c0e4df393c30
6546     الرياض  9b4cedaa-fac0-4eac-aa4b-b05b6a0c97ff
6547     الرياض  d8fbc53c-e042-4e45-b8c7-42b4ad0528ee

     Program Main Category Code Program Sub Category Code Technology Type  \
0                          PCRF                      PCRF             NaN
1                          APMR                      SWPS             NaN
2                          APMR                       NaN             NaN
3                          TOSL                      TOSL             NaN
4                          CAUF                      SWPS         تقليدية
...                         ...                       ...             ...
6543                       CAUF                      SWPS             NaN
6544                       PCRF                      PCRF             NaN
6545                       PCRF                      PCRF         تقليدية
6546                       PCRF                      PCRF             NaN
6547                       CAUF                       NaN             NaN

     Program Skill Level  ... Program Days Completed Degree  \
0                    NaN  ...           12              نعم
1                  متوسط  ...            5              نعم
2                  متوسط  ...           54              نعم
3                    NaN  ...           33              نعم
4                  متوسط  ...           54               لا
...                  ...  ...          ...              ...
6543                 NaN  ...           66              نعم
6544               مبتدئ  ...           12              نعم
6545               مبتدئ  ...            5               لا
6546               متوسط  ...           12              نعم
6547               مبتدئ  ...            5              نعم

     Level of Education                Education Speaciality  \
0           البكالوريوس                     هندسة حاسب الالي
1           البكالوريوس           الإذاعة والتلفزيون والفيلم
2           البكالوريوس               Information Technology
3           البكالوريوس  حوسبة تطبيقية - (مسار شبكات الحاسب)
4           البكالوريوس              نظم المعلومات الحاسوبية
...                 ...                                  ...
6543        البكالوريوس                      تقنية المعلومات
6544        البكالوريوس                          علوم الحاسب
6545        البكالوريوس                        نظم المعلومات
6546        البكالوريوس                      تقنية المعلومات
6547          الماجستير                 دراسات وقضايا معاصرة

                             College University Degree Score  \
0                                NaN                    2.44
1           الفنون والعلوم الإنسانية                    5.00
2                                NaN                    3.50
3                                NaN                    3.55
4     تكنولوجيا الاتصالات والمعلومات                    4.00
...                              ...                     ...
6543  تكنولوجيا الاتصالات والمعلومات                    4.40
6544                             NaN                    4.46
6545  تكنولوجيا الاتصالات والمعلومات                    4.93
6546  تكنولوجيا الاتصالات والمعلومات                    4.00
6547                             NaN                    4.32

     University Degree Score System Employment Status   Job Type  \
0                               4.0          غير موظف        NaN
1                               5.0              طالب        NaN
2                               5.0              موظف        NaN
3                               5.0              خريج        NaN
4                               5.0               NaN        NaN
...                             ...               ...        ...
6543                            5.0               NaN        NaN
6544                            5.0              موظف        NaN
6545                            5.0              موظف  دوام كامل
6546                            4.0          غير موظف      تدريب
6547                            5.0              موظف        NaN

      Still Working
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
6543            NaN
6544            NaN
6545            Yes
6546             No
6547            NaN

[6548 rows x 23 columns]
Target Variable: 0       0
1       0
2       0
3       0
4       0
       ..
6543    0
6544    0
6545    1
6546    0
6547    0
Name: Y, Length: 6548, dtype: int64

In [10]:
df.isna().sum()

Student ID                           0
Age                                 92
Gender                               0
Home Region                          2
Home City                            2
Program ID                           0
Program Main Category Code           0
Program Sub Category Code          935
Technology Type                   2982
Program Skill Level               1646
Program Presentation Method          0
Program Start Date                   0
Program End Date                     0
Program Days                         0
Completed Degree                     0
Level of Education                  26
Education Speaciality              277
College                           3890
University Degree Score             81
University Degree Score System      81
Employment Status                  566
Job Type                          4567
Still Working                     4567
Y                                    0
dtype: int64

In [11]:
df.duplicated().sum()

48

In [12]:
df.dtypes

Student ID                         object
Age                               float64
Gender                             object
Home Region                        object
Home City                          object
Program ID                         object
Program Main Category Code         object
Program Sub Category Code          object
Technology Type                    object
Program Skill Level                object
Program Presentation Method        object
Program Start Date                 object
Program End Date                   object
Program Days                        int64
Completed Degree                   object
Level of Education                 object
Education Speaciality              object
College                            object
University Degree Score           float64
University Degree Score System    float64
Employment Status                  object
Job Type                           object
Still Working                      object
Y                                   int64
dtype: object

In [13]:
print(df.columns)

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

In [15]:
df['Age']=df['Age'].astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df['Age'].duplicated().sum()

8

In [ ]:
Categorical = df.select_dtypes(include=['object']).columns
df = Categorical.drop('Student ID')

In [ ]:
df['Gender'].duplicated().sum()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
numerical = df.select_dtypes(include=['number']).columns

AttributeError: 'Index' object has no attribute 'select_dtypes'

In [ ]:
df

Index(['Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Completed Degree',
       'Level of Education', 'Education Speaciality', 'College',
       'Employment Status', 'Job Type', 'Still Working'],
      dtype='object')

In [ ]:
df['Age'].fillna(floor(df['Age'].mean()), inplace=True)

In [ ]:
df['Age'].fillna(df['Age'].mean() , inplace=True)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
#df=df.drop('Employment Status')

KeyError: "['Employment Status'] not found in axis"

In [ ]:
df['date'] = pd.to_datetime(df['date'])

KeyError: 'date'

In [ ]:
df['Program Sub Category Cod'].fillna(df['Program Sub Category Code '].mode(), inplace=True)

KeyError: 'Program Sub Category Cod'

In [ ]:
df['Age']=df['Age'].astype(int)
df['Still Working'].as