In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import csv

 Download The datasets

In [2]:
import os

os.listdir('.')

['registration.csv',
 'sample_submission.csv',
 'task.ipynb',
 'taskML.ipynb',
 'test.csv',
 'train.csv']

In [3]:
df=pd.read_csv("train.csv")

 Explore the datasets

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6548 entries, 0 to 6547
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      6548 non-null   object
 1   Age                             6456 non-null   float64
 2   Gender                          6548 non-null   object
 3   Home Region                     6546 non-null   object
 4   Home City                       6546 non-null   object
 5   Program ID                      6548 non-null   object
 6   Program Main Category Code      6548 non-null   object
 7   Program Sub Category Code       5613 non-null   object
 8   Technology Type                 3566 non-null   object
 9   Program Skill Level             4902 non-null   object
 10  Program Presentation Method     6548 non-null   object
 11  Program Start Date              6548 non-null   object
 12  Program End Date                6548 non-null   object
 13  Program Days                    6548 non-null   int64
 14  Completed Degree                6548 non-null   object
 15  Level of Education              6522 non-null   object
 16  Education Speaciality           6271 non-null   object
 17  College                         2658 non-null   object
 18  University Degree Score         6467 non-null   float64
 19  University Degree Score System  6467 non-null   float64
 20  Employment Status               5982 non-null   object
 21  Job Type                        1981 non-null   object
 22  Still Working                   1981 non-null   object
 23  Y                               6548 non-null   int64
dtypes: float64(3), int64(2), object(19)
memory usage: 1.2+ MB

In [5]:
df.describe()

,Age,Program Days,University Degree Score,University Degree Score System,Y
count,6456.000000,6548.000000,6467.000000,6467.000000,6548.000000
mean,26.831165,19.691662,8.224432,9.773929,0.158674
std,5.535967,32.112061,19.120384,21.259962,0.365400
min,18.000000,3.000000,0.000000,4.000000,0.000000
25%,23.000000,5.000000,3.300000,5.000000,0.000000
50%,25.000000,12.000000,4.000000,5.000000,0.000000
75%,29.000000,19.000000,4.510000,5.000000,0.000000
max,57.000000,292.000000,100.000000,100.000000,1.000000

In [6]:
df.shape

(6548, 24)

In [7]:
df.head()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,4f14c50d-162e-4a15-9cf0-ec129c33bcf0,37.0,ذكر,منطقة الرياض,الرياض,453686d8-4023-4506-b2df-fac8b059ac26,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,هندسة حاسب الالي,NaN,2.44,4.0,غير موظف,NaN,NaN,0
1,0599d409-876b-41a5-af05-749ef0e77d32,21.0,ذكر,منطقة عسير,خميس مشيط,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0
2,38a11c0e-4afc-4261-9c64-e94cc0a272fb,24.0,ذكر,منطقة الرياض,الرياض,e006900d-05a9-4c2b-a36f-0ffb9fce44cd,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,Information Technology,NaN,3.50,5.0,موظف,NaN,NaN,0
3,1693e85b-f80e-40ce-846f-395ddcece6d3,23.0,ذكر,منطقة الرياض,الرياض,2ec15f6b-233b-428a-b9f5-e40bc8d14cf9,TOSL,TOSL,NaN,NaN,...,نعم,البكالوريوس,حوسبة تطبيقية - (مسار شبكات الحاسب),NaN,3.55,5.0,خريج,NaN,NaN,0
4,98a0e8d0-5f80-4634-afd8-322aa0902863,23.0,ذكر,منطقة الرياض,الرياض,d32da0e9-1aed-48c3-992d-a22f9ccc741e,CAUF,SWPS,تقليدية,متوسط,...,لا,البكالوريوس,نظم المعلومات الحاسوبية,تكنولوجيا الاتصالات والمعلومات,4.00,5.0,NaN,NaN,NaN,0

In [8]:
df.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

In [143]:
X = df.drop(columns=['Y'])
y = df['Y']

preprocessing

In [10]:
df.isna().sum()

Student ID                           0
Age                                 92
Gender                               0
Home Region                          2
Home City                            2
Program ID                           0
Program Main Category Code           0
Program Sub Category Code          935
Technology Type                   2982
Program Skill Level               1646
Program Presentation Method          0
Program Start Date                   0
Program End Date                     0
Program Days                         0
Completed Degree                     0
Level of Education                  26
Education Speaciality              277
College                           3890
University Degree Score             81
University Degree Score System      81
Employment Status                  566
Job Type                          4567
Still Working                     4567
Y                                    0
dtype: int64

In [61]:
df['Age']=df['Age'].astype('int64')

In [24]:
df['Age'].duplicated().sum()

6508

In [44]:
df['Age'].fillna(df['Age'].mean() , inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\3516665944.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean() , inplace=True)

In [63]:
try:
    df = df.drop('Student ID', inplace=True)
except KeyError:
    print("Column 'Student ID' not found in DataFrame")

Column 'Student ID' not found in DataFrame

In [64]:
try:
    df = df.drop('Program ID', inplace=True)
except KeyError:
    print("Column 'Program ID' not found in DataFrame")

Column 'Program ID' not found in DataFrame

In [28]:
df['Gender'] = df['Gender'].astype(bool)

In [47]:
df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\1141015461.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\1141015461.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)

In [45]:
df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\2722811496.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)

In [54]:
df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\929195738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)

In [53]:
df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\473114808.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)

In [55]:
df['Program Presentation Method'] = df['Program Presentation Method'].astype(bool)

In [66]:
df['Program Start Date'] = pd.to_datetime(df['Program Start Date'])
df['Program End Date'] = pd.to_datetime(df['Program End Date'])

In [69]:
df['Completed Degree'] = df['Completed Degree'].astype(bool)

In [70]:
df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\4090645645.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)

In [72]:
df['College'].fillna(df['College'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\3335214070.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['College'].fillna(df['College'].mode()[0], inplace=True)

In [73]:
df['University Degree Score'].fillna(df['University Degree Score'].mean() , inplace=True)
df['University Degree Score System'].fillna(df['University Degree Score System'].mean() , inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\5621112.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['University Degree Score'].fillna(df['University Degree Score'].mean() , inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\5621112.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['University Degree Score System'].fillna(df['University Degree Score System'].mean() , inplace=True)

In [79]:
df['Education Speaciality'].fillna(df['Education Speaciality'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\2483464569.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education Speaciality'].fillna(df['Education Speaciality'].mode()[0], inplace=True)

In [80]:
df['Education Speaciality']

0                          هندسة حاسب الالي
1                الإذاعة والتلفزيون والفيلم
2                    Information Technology
3       حوسبة تطبيقية - (مسار شبكات الحاسب)
4                   نظم المعلومات الحاسوبية
                       ...
6543                        تقنية المعلومات
6544                            علوم الحاسب
6545                          نظم المعلومات
6546                        تقنية المعلومات
6547                   دراسات وقضايا معاصرة
Name: Education Speaciality, Length: 6548, dtype: object

In [113]:
df['Education Speaciality']=df['Education Speaciality'].replace({'Computer Science':"علوم الحاسب"})
df['Education Speaciality']=df['Education Speaciality'].replace({'Information Technology': 'تقنية المعلومات'})
df['Education Speaciality']=df['Education Speaciality'].replace({'Cyber security': 'أمن سيبراني'})
df['Education Speaciality']=df['Education Speaciality'].replace({'امن سيبراني': 'أمن سيبراني'})

In [111]:
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'هندسة برمجيات': 'هندسة البرمجيات',
    'هندسة حاسب': 'هندسة البرمجيات',
   'هندسة الحاسب': 'هندسة البرمجيات',
    'Software Engineering': 'هندسة البرمجيات',
    'هندسة حاسب آلي': 'هندسة البرمجيات ',
   "هندسة تقنية برمجيات": 'هندسة البرمجيات',
})

In [106]:
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'MIS': 'نظم المعلومات الإدارية',
    'نظم معلومات إدارية': 'نظم المعلومات الإدارية',
   "نظم معلومات ادارية": 'نظم المعلومات الإدارية',
})

In [109]:
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'Information Systems': 'نظم المعلومات',
    'Computer Information Systems': 'نظم المعلومات',
    'نظم معلومات': 'نظم المعلومات',
    'نظم المعلومات الحاسوبية': 'نظم المعلومات',
    'نظم معلومات الحاسوبية': 'نظم المعلومات'
})

In [112]:
df['Education Speaciality']

0                          هندسة حاسب الالي
1                الإذاعة والتلفزيون والفيلم
2                           تقنية المعلومات
3       حوسبة تطبيقية - (مسار شبكات الحاسب)
4                             نظم المعلومات
                       ...
6543                        تقنية المعلومات
6544                            علوم الحاسب
6545                          نظم المعلومات
6546                        تقنية المعلومات
6547                   دراسات وقضايا معاصرة
Name: Education Speaciality, Length: 6548, dtype: object

In [115]:
df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\2794423124.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\2794423124.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)

In [116]:
df['Still Working'] = df['Still Working'].astype(bool)

In [117]:
df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

C:\Users\Lina\AppData\Local\Temp\ipykernel_21908\3973898233.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

In [118]:
df['Y'] = df['Y'].astype(bool)

In [119]:
df.dtypes

Age                                        int64
Gender                                      bool
Home Region                               object
Home City                                 object
Program ID                                object
Program Main Category Code                object
Program Sub Category Code                 object
Technology Type                             bool
Program Skill Level                       object
Program Presentation Method                 bool
Program Start Date                datetime64[ns]
Program End Date                  datetime64[ns]
Program Days                               int64
Completed Degree                            bool
Level of Education                        object
Education Speaciality                     object
College                                   object
University Degree Score                  float64
University Degree Score System           float64
Employment Status                         object
Job Type                                  object
Still Working                               bool
Y                                           bool
dtype: object

In [120]:
df.isna().sum()

Age                               0
Gender                            0
Home Region                       0
Home City                         0
Program ID                        0
Program Main Category Code        0
Program Sub Category Code         0
Technology Type                   0
Program Skill Level               0
Program Presentation Method       0
Program Start Date                0
Program End Date                  0
Program Days                      0
Completed Degree                  0
Level of Education                0
Education Speaciality             0
College                           0
University Degree Score           0
University Degree Score System    0
Employment Status                 0
Job Type                          0
Still Working                     0
Y                                 0
dtype: int64

In [121]:
df.duplicated().sum()

102

In [123]:
df=df.drop_duplicates()

In [124]:
df.duplicated().sum()

0

In [134]:
Categorical = df.select_dtypes(include=[object]).columns
numerical = df.select_dtypes(include=[int,float]).columns

 encoding categorical variables

In [135]:
from sklearn.preprocessing import OneHotEncoder
#Convert 'Categorical' to a 2D array
categorical_2d = Categorical.values.reshape(-1, 1)
Encoder=OneHotEncoder(sparse_output=False)
E_Categorical=Encoder.fit_transform(categorical_2d)

Scaling numerical features

In [138]:
from sklearn.preprocessing import StandardScaler
#Convert 'Categorical' to a 2D array
numerical_2d = numerical.values.reshape(-1, 1)
Scaler=StandardScaler()
numerical=Encoder.fit_transform(numerical_2d)

 Split the preprocessed data into training and testing sets.

In [145]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

 Implement machine learning models to predict student persistence and completion 
rates. You can start with simple models like logistic regression or decision trees.