In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import csv

 Download The datasets

In [55]:
import os

os.listdir('.')

['.git', 'final_predictions.csv', 'logs.log', 'task.ipynb']

Loading train and test datasets

In [56]:
#read the datasets
df_train=pd.read_csv("C:/Users/wedfa/Downloads/dataset/train.csv")
df_test=pd.read_csv("C:/Users/wedfa/Downloads/dataset/test.csv")

In [57]:
df_train.shape

(6548, 24)

In [58]:
#merge the datasete
df=pd.concat([df_train,df_test])

In [59]:
#conert to a datatime 
df['Program Start Date'] = pd.to_datetime(df['Program Start Date'])
df['Program End Date'] = pd.to_datetime(df['Program End Date'])

 Explore the datasets

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7366 entries, 0 to 817
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      7366 non-null   object
 1   Age                             7260 non-null   float64
 2   Gender                          7366 non-null   object
 3   Home Region                     7363 non-null   object
 4   Home City                       7363 non-null   object
 5   Program ID                      7366 non-null   object
 6   Program Main Category Code      7366 non-null   object
 7   Program Sub Category Code       6316 non-null   object
 8   Technology Type                 4020 non-null   object
 9   Program Skill Level             5520 non-null   object
 10  Program Presentation Method     7366 non-null   object
 11  Program Start Date              7366 non-null   datetime64[ns]
 12  Program End Date                7366 non-null   datetime64[ns]
 13  Program Days                    7366 non-null   int64
 14  Completed Degree                7366 non-null   object
 15  Level of Education              7337 non-null   object
 16  Education Speaciality           7052 non-null   object
 17  College                         2984 non-null   object
 18  University Degree Score         7274 non-null   float64
 19  University Degree Score System  7274 non-null   float64
 20  Employment Status               6730 non-null   object
 21  Job Type                        2218 non-null   object
 22  Still Working                   2218 non-null   object
 23  Y                               6548 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(1), object(17)
memory usage: 1.4+ MB

In [61]:
df.describe()

,Age,Program Start Date,Program End Date,Program Days,University Degree Score,University Degree Score System,Y
count,7260.000000,7366,7366,7366.000000,7274.000000,7274.000000,6548.000000
mean,26.813912,2023-04-17 10:14:49.492261632,2023-05-06 02:19:34.911756544,19.669970,8.244583,9.769728,0.158674
min,18.000000,2022-06-05 00:00:00,2022-06-09 00:00:00,3.000000,0.000000,4.000000,0.000000
25%,23.000000,2023-01-08 00:00:00,2023-01-26 00:00:00,5.000000,3.300000,5.000000,0.000000
50%,25.000000,2023-04-02 00:00:00,2023-04-13 00:00:00,12.000000,4.000000,5.000000,0.000000
75%,29.000000,2023-07-23 00:00:00,2023-08-31 00:00:00,19.000000,4.510000,5.000000,0.000000
max,58.000000,2024-01-15 00:00:00,2024-01-25 00:00:00,292.000000,100.000000,100.000000,1.000000
std,5.527743,NaN,NaN,31.975408,19.171624,21.248205,0.365400

In [62]:
df.shape

(7366, 24)

In [63]:
df

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,4f14c50d-162e-4a15-9cf0-ec129c33bcf0,37.0,ذكر,منطقة الرياض,الرياض,453686d8-4023-4506-b2df-fac8b059ac26,PCRF,PCRF,NaN,NaN,...,نعم,البكالوريوس,هندسة حاسب الالي,NaN,2.44,4.0,غير موظف,NaN,NaN,0.0
1,0599d409-876b-41a5-af05-749ef0e77d32,21.0,ذكر,منطقة عسير,خميس مشيط,cc8e4e42-65d5-4fa1-82f9-6c6c2d508b60,APMR,SWPS,NaN,متوسط,...,نعم,البكالوريوس,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0.0
2,38a11c0e-4afc-4261-9c64-e94cc0a272fb,24.0,ذكر,منطقة الرياض,الرياض,e006900d-05a9-4c2b-a36f-0ffb9fce44cd,APMR,NaN,NaN,متوسط,...,نعم,البكالوريوس,Information Technology,NaN,3.50,5.0,موظف,NaN,NaN,0.0
3,1693e85b-f80e-40ce-846f-395ddcece6d3,23.0,ذكر,منطقة الرياض,الرياض,2ec15f6b-233b-428a-b9f5-e40bc8d14cf9,TOSL,TOSL,NaN,NaN,...,نعم,البكالوريوس,حوسبة تطبيقية - (مسار شبكات الحاسب),NaN,3.55,5.0,خريج,NaN,NaN,0.0
4,98a0e8d0-5f80-4634-afd8-322aa0902863,23.0,ذكر,منطقة الرياض,الرياض,d32da0e9-1aed-48c3-992d-a22f9ccc741e,CAUF,SWPS,تقليدية,متوسط,...,لا,البكالوريوس,نظم المعلومات الحاسوبية,تكنولوجيا الاتصالات والمعلومات,4.00,5.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,c4bd99a6-2902-4822-947e-2a3aab3f1e92,36.0,ذكر,منطقة الرياض,الرياض,1b546d80-2ed0-42e6-9867-61b3d2f92d50,GRST,INFA,NaN,متوسط,...,نعم,البكالوريوس,علوم حاسب,NaN,2.55,5.0,موظف,NaN,NaN,NaN
814,2e057846-ee90-4b31-b6e7-c1c5122f4cbd,29.0,ذكر,منطقة الرياض,الرياض,aa87165d-cbde-4453-baca-1c8c03775e39,CAUF,CRDP,داعمة,مبتدئ,...,نعم,البكالوريوس,الهندسة الكهربائية,الهندسة والتصنيع والبناء,3.00,4.0,NaN,NaN,NaN,NaN
815,8f9ff50d-510c-4d56-b0eb-60c2fb1c5e84,32.0,ذكر,منطقة الرياض,الرياض,c49987af-b421-4b88-b36a-a0ec91d95aa3,GRST,INFA,تقليدية,متوسط,...,نعم,البكالوريوس,شبكات حاسب,NaN,3.00,5.0,موظف,NaN,NaN,NaN
816,8a49b6cd-e7c3-460b-8126-a419cf995e6e,28.0,أنثى,منطقة الرياض,الرياض,899795e1-7bf3-46d0-a58e-824d4033f6da,PCRF,PCRF,تقليدية,متوسط,...,لا,البكالوريوس,نظم معلومات حاسوبية,NaN,4.12,5.0,غير موظف,NaN,NaN,NaN
817,4a15a037-f5f4-4947-8a67-9f28494a6f26,23.0,ذكر,منطقة الرياض,الرياض,0d6336e2-4a79-4c32-8f15-073f9a4f6976,PCRF,PCRF,تقليدية,مبتدئ,...,نعم,البكالوريوس,هندسة برمجيات,NaN,4.55,5.0,خريج,NaN,NaN,NaN

In [64]:
df.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

preprocessing

In [65]:
#display the sum of null values in each column
df.isna().sum()

Student ID                           0
Age                                106
Gender                               0
Home Region                          3
Home City                            3
Program ID                           0
Program Main Category Code           0
Program Sub Category Code         1050
Technology Type                   3346
Program Skill Level               1846
Program Presentation Method          0
Program Start Date                   0
Program End Date                     0
Program Days                         0
Completed Degree                     0
Level of Education                  29
Education Speaciality              314
College                           4382
University Degree Score             92
University Degree Score System      92
Employment Status                  636
Job Type                          5148
Still Working                     5148
Y                                  818
dtype: int64

In [66]:
#data types for all
df.dtypes

Student ID                                object
Age                                      float64
Gender                                    object
Home Region                               object
Home City                                 object
Program ID                                object
Program Main Category Code                object
Program Sub Category Code                 object
Technology Type                           object
Program Skill Level                       object
Program Presentation Method               object
Program Start Date                datetime64[ns]
Program End Date                  datetime64[ns]
Program Days                               int64
Completed Degree                          object
Level of Education                        object
Education Speaciality                     object
College                                   object
University Degree Score                  float64
University Degree Score System           float64
Employment Status                         object
Job Type                                  object
Still Working                             object
Y                                        float64
dtype: object

In [67]:
df.shape

(7366, 24)

In [68]:
# fill null values for the age column
df['Age'].fillna(df['Age'].mean() , inplace=True)

In [69]:
df['Y'].value_counts()

Y
0.0    5509
1.0    1039
Name: count, dtype: int64

In [70]:
#convert float to int
df['Age']=df['Age'].astype(int)

In [71]:
#drop the student id and program id
df = df.drop(['Student ID','Program ID'], axis=1)

In [72]:
df['Gender']=df['Gender'].replace({'ذكر':0,'أنثى':1 })
df['Gender'].value_counts()

Gender
1    4146
0    3220
Name: count, dtype: int64

In [73]:
# fill null values for categorical columns
df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)
df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)
df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)
df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)
# fill null values
df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)
df['College'].fillna(df['College'].mode()[0], inplace=True)
df['Education Speaciality'].fillna("unknown", inplace=True)

In [74]:
# fill null values in numurical columns 
df['University Degree Score'].fillna(df_train['University Degree Score'].mean() , inplace=True)
df['University Degree Score System'].fillna(df_train['University Degree Score System'].mean() , inplace=True)

In [75]:
#changing datatypes
df['Completed Degree']=df['Completed Degree'].replace({'نعم':1, "لا":0})
print(df['Completed Degree'].value_counts())

Completed Degree
1    5845
0    1521
Name: count, dtype: int64

In [76]:
#to know the major 
df['Education Speaciality']=df['Education Speaciality'].replace({
    'Information technology': 'Information technology',
    'Cyber security': 'Cyber security',
    "حوسبة تطبيقية مسار الامن السيبراني":"Cyber security",
    "Cybersecurity and Info Assurance":"Cyber security",
    "الامن السيبراني والشبكات":"Cyber security",
    "IT Cybersecurity":"Cyber security",
    "حاسب آلي نظم معلومات":"Computer Science",
    "Computer scientists":"Computer Science",
    "الشبكات وامن البيانات":"Cyber security",
    'امن سيبراني': 'Cyber security',
    "الامن السيبراني والادلة الرقمية":"Cyber security",
    "هندسة وأمن الشبكات":"Cyber security",
    "تقنية معلومات مسار (الأمن و الشبكات)":"Cyber security",
    "Cybersecurity Engineering":"Cyber security",
    "الأمن السيبراني والتحري الرقمي":"Cyber security",
    "تقنية المعلومات-الأمن السيبراني":"Cyber security",
    "computer security":"Cyber security",
    "Computer science cybersecurity":"Cyber security",
    "تقنية المعلومات مسار الامن السيبراني":"Cyber security",
    "تقنية معلومات مسار الامن السيبراني":"Cyber security",
    "علوم حاسب - امن سيبراني":"Cyber security",
    "cyberSecurity and Networking":"Cyber security",
    "Information Systems - Cybersecurity":"Cyber security",
    "نظم معلومات امن سبراني":"Cyber security",
    "تقنية معلومات- امن سيبراني":"Cyber security",
    "Information technology - cybersecurity":"Cyber security",
    "تقنية المعلومات-مسار الأمن السيبراني":"Cyber security",
    'علوم الحاسبات':"Computer Science",
    "علوم حاسب الي":"Computer Science",
    "كلية علوم الحاسب والمعلومات":"Computer Science",
    'علوم حاسب':"Computer Science",
    "هندسة علوم الحاسب الالي":"Computer Science",
    "علوم حاسب آلي":"Computer Science",
    "علوم الحاسب الى":"Computer Science",
    "Computer Scince":"Computer Science",
    "Conputer scince":"Computer Science",
    "علوم الحاسب CS":"Computer Science",
    "Computer since":"Computer Science",
    "computer seince":"Computer Science",
    "Computer":"Computer Science",
    "علوم الحاسب":"Computer Science",
    "علوم وهندسة الحاسبات":"Computer Science",
    "بكالوريس علوم الحاسب الالي":"Computer Science",
    "علوم الحاسب الالي":"Computer Science",
    "بكالريوس علوم حاسب مسار نظم معلومات":"Computer Science",
    "برمجة الحاسب المتقدمة":"Computer Science",
    "علوم وهندسة الحاسب الآلي":"Computer Science",
    "حاسب الالي":"Computer Science",
    "علوح حاسب":"Computer Science",
    "Cs":"Computer Science",
    "بكالوريوس تقنية معلومات (علوم حاسب)":"Computer Science",
    "computer scince":"Computer Science",
    "علوم الحاشب":"Computer Science",
    "علوم تقنية المعلومات":"Computer Science",
    "علوم الحاسب مسار ادارة المعلومات":"Computer Science",
    "علوم حاسب Computer Science":"Computer Science",
    "علوم الحاسب اللالي":"Computer Science",
    "علوم حاسب والمعلومات":"Computer Science",
    "علوم حاسب - عام":"Computer Science",
    "علوم حاسب ونظم معلومات":"Computer Science",
    "تغذية وعلوم اطعمت - دبلوم حاسب الي":"Computer Science",
    "علوم وهندسة الحاسب - ذكاء اصطناعي":"Computer Science",
    "حاسب آلي تربوي":"Computer Science",
    "Computer Science and Engineering":"Computer Science",
    "علوم الكمبيوتر":"Computer Science",
    "علوم حاسب تطبيقي - شبكات":"Computer Science",
    "علم الحاسب":"Computer Science",
    "computer since":"Computer Science",
    "علوم الحاسب وتقنيه المعلومات":"Computer Science",
    "علوم حاسبات وتقنية معلومات":"Computer Science",
    "علوم حاسب الي تطبيقي":"Computer Science",
    "Computer science and information":"Computer Science",
    "علوم الحاسب والمعلومات":"Computer Science",
    "تطبيقات الحاسب الالي":"Computer Science",
    "Advanced Computer Science":"Computer Science",
    'هندسة برمجيات': 'Software Engineering',
    'هندسة حاسب': 'Software Engineering',
   'هندسة الحاسب': 'Software Engineering',
    'Software Engineering': 'Software Engineering',
    "حاسب الي برمجيات":"Software Engineering",
    "تطوير المواقع الالكترونية والاجهزة الذكية":"Software Engineering",
    'هندسة حاسب آلي': 'Software Engineering',
    "برمجة وتشغيل حاسبات":"Software Engineering",
   "هندسة تقنية برمجيات": 'Software Engineering',
   "تقنيات الحاسب /برمجيات":"Software Engineering",
   "برمجة حاسب هندسة برمجيات":"Software Engineering",
   "Software Development":"Software Engineering",
   "حاليا طالبة هندسة برمجيات في السنة الرابعة":"Software Engineering",
    "هندسةالبرمجيات": "Software Engineering",
    "هندسة حاسب الالي":"Software Engineering",
    "Database and programming":"Software Engineering",
    "برمجة الحاسب ألي":"Software Engineering",
    "بكالوريوس في هندسة البرمجيات":"Software Engineering",
    "oftware Engineering":"Software Engineering",
    "تطوير التطبيقات":"oftware Engineering",
    "هندسة البرمجيات":"Software Engineering",
    "Software system engineering":"Software Engineering",
    "software engineer":"Software Engineering",
    "web devolper":"Software Engineering",
    "برمجه وتطوير الويب":"Software Engineering",
    "تقنية برمجه":"Software Engineering",
    "برمجة الحاسب الألي":"Software Engineering",
    "برمجة وقواعد البيانات":"Software Engineering",
    "هندسه حاسب الالي":"Computer engineering",
    "Computer Engineering Technology":"Computer engineering",
    "هندسة حاسبات":"Computer engineering",
    "Computer Engineer":"Computer engineering",
    "هندسة الحاسوب":"Computer engineering",
    "هندسة كمبيوتر":"Computer engineering",
    "Computer of engineering":"Computer engineering",
    ""
    "تقنية المعلومات":"Information technology",
    "تقنية معلومات":"Information technology",
    "نظم المعلومات":"Information system",
    "هندسة ذكاء اصطناعي":"Information technology",
    "تقنية المعلومات - مسار الذكاء الاصطناعي":"Information technology",
    "تقنية معلومات (IT)":"Information technology",
    "نظم معلومات (كلية الحاسبات)":"Information system",
    "Computer and Information Systems":"Information system",
    "نظم معلومات":"Information system",
    "نظم المعلومات الإدارية":"Information system",
    "nformation system":"Information system",
    "حاسب تظم معلومات":"Information system",
    "إدارة معلومات كلية علوم الحاسب والمعلومات":"Information system",
    "نظم معلومات اداريه":"Information system",
    "ادارة نظم المعلومات":"Information system",
    "نظم معلومات الحاسب الالي":"Information system",
    "حاسب ( نظم معلومات )":"Information system",
    "Information system computing":"Information system",
    "حاسب -نظم معلومات":"Information system",
    "نظم معلومات جغرافية وخرائط":"Information system",
    "حاسب الي و نظم المعلومات":"Information system",
    "ادارة اعمال مسار نظم معلومات ادارية":"Information system",
    "Computer Systems Engineering":"Information system",
    "دبلوم تطبيقات الحاسب (وحالياً طالبه بكالوريوس نظم معلومات ادارية بمعدل ٤.٥)":"nformation system",
    'نظم معلومات إدارية': 'Information system',
   "نظم معلومات ادارية": 'Information system',
   "Computer Network and Communication":"Computer Network and Communication",
   "شبكات الحاسب الآلي":"Computer Network and Communication",
   "تقنية معلومات - الشبكات وانظمة الاتصالات":"Computer Network and Communication",
   "حوسبة تطبيقية - (مسار شبكات الحاسب)":"Computer Network and Communication",
   "شبكات الحاسب":"Computer Network and Communication",
   "Applied Computing-Computer Networks Track":"Computer Network and Communication",
   'Information Systems': 'Information technology',
    'Computer Information Systems': 'Information technology',
    "أمن المعلومات":"Cyber Security",
    "امن المعلومات والشبكات":"Cyber Security",
    "علوم امنية":"Cyber Security",
    'نظم معلومات': 'Information technology',
    'نظم المعلومات الحاسوبية': 'Information system',
    "حاسب الى تربوي":"Information system",
    "نظم معلومات كلية الحاسب":"Information system",
    "نظم المعلومات ادارية":"Information system",
    "artificial intelligence":"Information system",
    "إدارة انظمة شبكات":"Information system",
    "نظم معلومات تطبيقي":"Information system",
    "نظم معلومات - حاسب":"Information system",
    "تخصص حاسب آلي قسم نظم المعلومات":"Information system",
    'نظم معلومات الحاسوبية': 'Information system',
    "نظم المعلومات Information System":"Information system",
    "نظم معلومات ادارية (MIS)":"Information system",
    "نظم معلومات - علم بيانات":"Information system",
    "نظم معلومات حاسوبيه-قواعد بيانات":"Information system",
    "حاسب -تقنية معلومات-":"Information system",
    "نظم معلومات الحاسب الآلي":"Information system",
    "حاسب نظم المعلومات":"Information system",
    'نظم المعلومات':"Information system",
    "كلية علوم الحاسب والمعلومات - تخصص دراسات المعلومات":"Information system",
    "حاسب الي - نظم معلومات":"Information system",
    "نظم معلومات حاسوبية":"Information system",
    "حاسب آلي وتقنية معلومات":"Information system",
    "نظم المعلومات الادارية":"Information system",
    "information System":"Information system",
    "نظم معلومات (كلية الحاسب)":"Information system",
    "نظم المعلومات مسار علم بيانات":"Information system",
    "حاسب-نظم معلومات CIS":"Information system",
    "computer information system":"Information system",
    "مظم معلومات مالية":"Information system",
    "انظمة":"Information system",
    "إدارة اعمال - نظم معلومات ادارية":"Information system",
    "management information system (MIS)":"Information system",
    "نظم معلومات - Information Systems":"Information system",
    "نظم معلومات الادارية":"Information system",
    "نظم معلومات حاسب الي":"Information system",
    "Computer Information Systym":"Information system",
    "management information system":"Information system",
    "Management Information Systmes":"Information system",
    "الحاسب والمعلومات":"Information system",
    "CS  نظم معلومات | Information System":"Information system",
    "Is":"Information system",
    "حاسب- نظم معلومات":"Information system",
    "محاسبة":"other",
    "تقنية المعلومات":"Information technology",
    "علوم المعلومات":"Information technology",
    "تقنية ملعومات":"Information technology",
    "تحليل البيانات":"Information technology",
    "علم البيانات وتحليها":"Information technology",
    "حاسب":"Information technology",
    "Information technology and computing":"Information technology",
    "علوم البيانات وتحليلها":"Information technology",
    "تقنية معلومات و حوسبة":"Information technology",
    "Computer and information technology":"Information technology",
    "Data Analytics":"Information technology",
    "علوم بيانات":"Information technology",
    "تقنية وبرمجة الويب":"Information technology",
    "IT management BI":"Information technology",
    "Information Tehnology":"Information technology",
    "علم البيانات وتحليها":"Information technology",
    "تقنية معلومات - مسار علم بيانات وذكاء اصطناعي":"Information technology",
    "تقنية المعلومات - مسار علم البيانات والذ":"Information technology",
    "Data Management":"Information technology",
    "تقنية الحاسب الالي":"Information technology",
    "Information technology IT":"Information technology",
    "حاسب الي - تقنية المعلومات":"Information technology",
    "Information Analytics":"Information technology",
    "الذماء الاصطناعي":"Information technology",
    "Cloud computing architect":"Information technology",
    "تقنية معلومات - شبكات وأنظمة اتصالات":"Information technology",
    "Artifical intellegence":"Information technology",
    "تقنية المعلومات- مسار علم البيانات والذكاء الاصطناعي":"Information technology",
    "(IT) Information Technology":"Information technology",
    "حاسب آلي":"Information technology",
    "معلوماتية صحية":"Health informatics",
    "بكالوريس خدمة اجتماعيه":"other",
    "علوم التغذية":"other",
    "اقتصاد منزلي":"other",
    "احصاء تطبيقي":"Mathematical",
    "رياضيات واحصاء":"Mathematical",
    "Applied Mathematics":"Mathematical",
    "Mathmatcs":"Mathematical",
    "الرياضيات والاحصاء":"Mathematical",
    "إحصاء":"Mathematical",
    "رياضيات اكتوارية":"Mathematical",
    "الإذاعة والتلفزيون والفيلم":"Radio, television and film",
    "حوسبة تطبيقية - (مسار شبكات الحاسب)":"Computer Network and Communication",
    "هندسه شبكات واتصلات":"Computer Network and Communication",
    "هندسه حاسب وشبكات":"Computer Network and Communication",
    "هندسة الحاسب الآلي والشبكات":"Computer Network and Communication",
    "هندسة شبكات":"Computer Network and Communication",
    "شبكات حاسب":"Computer Network and Communication",
    "هندسة شبكات والاتصالات":"Computer Network and Communication",
    "هندسة حاسب ألي وشبكات":"Computer Network and Communication",
    "هندسه شبكات":"Computer Network and Communication",
    "شبكات وانظمة اتصال":"Computer Network and Communication",
    "تقنية هندسة الشبكات":"Computer Network and Communication",
    "بكالورويس هندسة شبكات الحاسب الألي":"Computer Network and Communication",
    "ادارة انظمة الشبكات":"Computer Network and Communication",
    "Network Engineering":"Computer Network and Communication",
    "هندسة الاتصالات":"Computer Network and Communication",
    "telecommunication and network engineer":"Computer Network and Communication",
    "تقنية شبكات":"Computer Network and Communication",
    "Network  System Engineer":"Computer Network and Communication",
    "Network  System Engineer":"Computer Network and Communication",
    "هندسة الشبكات التطبيقية":"Computer Network and Communication",
    "Computer networks":"Computer Network and Communication",
    "شبكات وإدارة نظم":"Computer Network and Communication",
    "هندسة الشبكات":"Computer Network and Communication",
    "ادارة شبكات":"Computer Network and Communication",
    "تقنية معلومات - شبكات وانظمة اتصالات":"Computer Network and Communication",
    "Communication and computer networks":"Computer Network and Communication",
    "هندسة دعم أنظمة الشبكات":"Computer Network and Communication",
    "تقنية معلومات - شبكات وانظمة اتصال":"Computer Network and Communication",
    "Networks support system":"Computer Network and Communication",
    "الهندسة الكهربائية":"Electrical Engineering",
    "هندسة كهربائية تطبيقية":"Electrical Engineering",
    "هندسة كهربائية اتصالات":"Electrical Engineering",
    "الهندسة الكهربائية - الكترونيات واتصالات":"Electrical Engineering",
    "electrical engineering":"Electrical Engineering",
    "Networking and telecommunication system":"Computer Network and Communication",
    "Network of computer":"Computer Network and Communication",
    "هندسة تقنية شبكات":"Computer Network and Communication",
    "هندسة انظمه الشبكات التطبيقية":"Computer Network and Communication",
    "دعم أنظمة الشبكات":"Computer Network and Communication",
    "Networking and telecommunications systems":"Computer Network and Communication",
    "هندسة الشبكات والاتصالات":"Computer Network and Communication",
    "الشبكات والاتصالات":"Computer Network and Communication",
    "شبكات الحاسب و الاتصالات":"Computer Network and Communication",
    "Networks and telecommunications":"Computer Network and Communication",
    "هندسة شبكات وامن معلومات":"Computer Network and Communication",
    "إدارة الشبكات":"Computer Network and Communication",
    "مهندس شبكات و إتصالات":"Computer Network and Communication",
    "هندسة الالكترونيات والاتصالات":"Electrical Engineering",
    "هندسة كهربائية الكترونيات / Electrical Engineering":"Electrical Engineering",
    "هندسة كهربائية و إلكترونية":"Electrical Engineering",
    "هندسة كهرباء":"Electrical Engineering",
    "هندسة كهربائية":"Electrical Engineering",
    "هندسة الكترونيات":"Electrical Engineering",
    "إلكترونيات":"electronics",
    "الكترونيات صناعية وتحكم":"electronics",
    "Electronics and Communication":"electronics",
    "هندسة الكترونيات واتصالات":"electronics",
    "الجغرافيا البشرية":"other",
    "الرياضيات التطبيقية":"other",
    "تصميم منتجات":"other",
    "تاريخ اسلامي":"other",
    "تاريخ":"other",
    "غير متخصص":"other",
    "اعلان واتصال تسويقي":"other",
    "تقنية طبية":"other",
    "هندسة طبية":"other",
    "اتصال استراتيجي":"other",
    "تجارة إلكترونية":"other",
    "Nutrition Science":"other",
    "Human resources management":"other",
    "اللغة الإنجليزية":"other",
    "Home Economics":"other",
    "اللغويات التطبيقية":"other",
    "الهندسة الطبية الحيوية":"other",
    "اقتصاد كلية الاداره والاعمال":"other",
    "إدارة اعمال.":"other",
    "ادارة مكتبية":"other",
    "هياكل ومحركات":"other",
    "تأمين واداة مخاطر":"other",
    "الهندسة الكيميائية":"other",
    "علاقات عامه":"other",
    "ادب انجليزي":"other",
    "امراض معدية":"other",
    "نظم إدارية":"other",
    "مساحة بحرية":"other",
    "انشاءات معمارية":"other",
    "اتصالات":"other",
    "مسار علمي":"other",
    "Finance":"other",
    "لغات وترجمه اللغه الانجليزيه":"other",
    "Space science":"other",
    "الاطراف الصناعية والأجهزة المساعدة":"other",
    "English language":"other",
    "الأطراف الصناعية و اجهزة تقويم العظام":"other",
    "تصميم جرافيكي ووسائط متعددة":"other",
    "عمارة":"other",
    "تصميم داخلي":"other",
    "هندسة معمارية":"other",
    "تقنية ميكانيكية - تكييف وتبريد":"other",
    "العمارة":"other",
    "العلوم في الاعمال الالكترونية ebusiness":"other",
    "التعليم الإلكتروني":"other",
    "كليةالعلوم \\ فيزياء":"other",
    "مناهج وطرق تدريس":"other",
    "Graphic Design & Digital Media":"other",
    "دراسات إسلامية":"other",
    "محاسبه":"other",
    "Mechanical Engieering":"other",
    "Management and Human Resources":"other",
    "معلوماتيه صحية":"other",
    "الإعلان والاتصال التسويقي":"other",
    "الوسائط المتعددة ورسومات الويب":"other",
    "اعمل في الحماية والمراقبة الالكترونية-الاحوال المدنية- تخصص لغات وترجمة":"other",
    "Actuarial Science":"other",
    "Engineering Management":"other",
    "Nutrition":"other",
    "الطب و الجراحة العامة":"other",
    "المعلوماتية الصحية":"other",
    "Masters in Business Administration":"other",
    "E-Business":"other",
    "إقتصاد":"other",
    "مختبرات كيميائية":"other",
    "MBA":"other",
    "مالية تطبيقي":"other",
    "Digital media":"other",
    "علوم القرارات":"other",
    "بكالوريوس من كلية الإعلام والدعوة":"other",
    "إدارة عامه":"other",
    "تكنولوجيا التعليم":"other",
    "كلية المدربين التقنين":"other",
    "المواد البشرية":"other",
    "إدارة عامة":"other",
    "تسويق ومبيعات":"other",
    "مهارات رقمية":"other",
    "Business And Adminstration":"other",
    "Sport management":"other",
    "جغرافيا":"other",
    "حقوق":"other",
    "هندسة قوى كهربائية":"other",
    "الأدب":"other",
    "نظم معلومات جغرافية":"other",
    "Human resources":"other",
    "Master of business development MBA (system design software development strategy )":"other",
    "تعليم ماقبل المرحلة الابتدائية":"other",
    "Health Information Management and Technology":"other",
    "تحضيري علمي":"other",
    "ادارة فعاليات":"other",
    "علوم تطبيقيه":'other',
    "الحسبة والرقابة":"other",
    "لغة انجليزيه وادابها":"other",
    "ادارة اعمال تنفيذية":"other",
    "علم اجتماع وخدمة مجتمع":"other",
    "تصميم الازياء":"other",
    "آداب إنجليزي":"other",
    "الاتصال والعلاقات العامة":"other",
    "اعلام":"other",
    "Islamic students":"other",
    "اصول دين":"other",
    "accounting":"other",
    "الإدارة والأعمال":"other",
    "العقيدة والمذاهب المعاصرة":"other",
    "التدخل المبكر":"other",
    "ENGINEER IN MARINE TECHNOLOGY":"other",
    "English language and literature":"other",
    "اداره عامه":"other",
    "الابتكار و تصميم المنتجات":"other",
    "Art and Design/public relations ":"other",
    "الهندسة الميكانيكية (علوم)":"other",
    "التربية الفنية":"other",
    "BSc Geology":"other",
    "language and translation":"other",
    "Art and Design/public relations":"other",
    "القرأن الكريم والدراسات الاسلاميه":"other",
    "Visual Computing":"other",
    "علوم الاشعه":"other",
    "اجتماعيات":"other",
    "دراسات الإسلاميه":"other",
    "ادارة الاعمال الالكترونية":"other",
    "إدارة إعمال":"other",
    "libraries and Information":"other",
    "قانون":"other",
    "الاستشارات الوراثية":"other",
    "تصميم منتحات":"other",
    "حوسبة و ادارة اعمال":"other",
    "اشعه تشخيصيه":"other",
    "التسويق":"other",
    "إدارة و أعمال تخصص اقتصاد":"other",
    "ادارة مكاتب":"other",
    "قيادة وتخطيط":"other",
    "تكنولوجيا ترجمة":"other",
    "Dental surgery":"other",
    "التوجية والاصلاح الاسري":"other",
    "تصميم منتجات - product design":"other",
    "دراسات اسلامية":"other",
    "تمريض":"other",
    "تصميم":"other",
    "صحافة والنشر الإلكتروني":"other",
    "السياحة":"other",
    "هندسة ميكانيكيه":"other",
    "اقتصاد مالي":"other",
    "علو":"other",
    "ادارة الموارد ح":"other",
    "دكتور صيدلي":"other",
    "علاج وظيفي":"other",
    "ادارة خدمات صحية ومستشفيات":"other",
    "الدراسات الإسلامية المعاصرة":"other",
    "هندسه صناعيه":"other",
    "الاعلان والاتصال التسويقي":"other",
    "تكنولوجيا طبية حيوية":"other",
    "الصحة العامة":"other",
    "نظم الطاقة و الأستدامة":"other",
    "Radio, television and film":"other",
    "INTER-IoT":"other",
    "product design":"other",
    "آلات دقيقة وتحكم":"other",
    "كلية اللغات والترجمة، تخصص الترجمة الإنجليزية":"other",
    "ادارة مالية":"other",
    "خدمة اجتماعيه":"other",
    "سكرتارية طبية":"other",
    "الفيزياء":"other",
    "الترجمة بلغة الاشارة":"other",
    "Civil and Environmental engineering":"other",
    "business management":"other",
    "هندسة صناعية":"other",
    "جرافيك ووسائط رقمية":"other",
    "إدارة أعمال":"other",
    "جامعة الملك سعود":"other",
    "Public relation":"other",
    "Business Administration":"other",
    "الجرافيكس والوسائط المتعددة":"other",
    "هندسة عامة":"other",
    "فيزياء":"other",
    "Industrial Engineer Technology":"other",
    "English Language and Literature":"other",
    "العلوم الإدارية":"other",
    "موارد بشرية":"other",
    "لغويات تطبيقية":"other"})
print(df['Education Speaciality'].value_counts())

Education Speaciality
Computer Science                             2078
Information technology                       1274
Information system                            889
other                                         363
Software Engineering                          315
                                             ...
الحاسبات وتقنية المعلومات - نظم المعلومات       1
Cyber forensics and information system          1
نظم المعلومات الاداريه                          1
Radio, television and film                      1
هندسة نظم المعلومات                             1
Name: count, Length: 482, dtype: int64

In [77]:
df.iloc[190:200, 14:15]#130:140

                  Education Speaciality
190                  هندسة الحاسب الالي
191                    Computer Science
192                    Computer Science
193              Information technology
194                    Computer Science
195  Computer Network and Communication
196                          برمجة حاسب
197              Information technology
198                        ذكاء اصطناعي
199                    Computer Science

In [78]:
df['Home Region'] = df['Home Region'].replace({
    'منطقة الرياض': 'Riyadh region',
    'منطقة القصيم': 'Qassim region',
    'المنطقة الشرقية': 'Eastern region',
    'منطقة الحدود الشمالية': 'Northern border region',
    'منطقة الجوف': 'Al-Jawf region',
    "منطقة مكة المكرمة":"Makkah region",
    "منطقة عسير":"Asir region",
    "منطقة المدينة المنورة":"Madinah region",
    "منطقة جازان":"Jazan region",
    "منطقة تبوك":"Tabuk region",
    "منطقة الباحة":"Al Baha region",
    "منطقة حائل":"Hail region",
    "منطقة نجران":"Najran region"

})

In [79]:
df["Home Region"].value_counts()

Home Region
Riyadh region             5396
Makkah region              677
Eastern region             494
Asir region                192
Madinah region             192
Qassim region              116
Jazan region                64
Tabuk region                59
Al Baha region              52
Hail region                 38
Najran region               31
Al-Jawf region              29
Northern border region      26
Name: count, dtype: int64

In [80]:
df['Home City'] = df['Home City'].replace({
    'الرياض': 'Riyadh',
    'بريدة': 'Buraidah',
    'القطيف': 'Qatif',
    'رفحاء': 'Rafha',
    'طبرجل': 'Tabarjal',
    'جدة':"Jeddah",
    'المدينة المنورة':"Madinah",
    "الدمام":"Dammam",
    'أبها':"Abha",

})

In [81]:
df["Home City"].value_counts()

Home City
Riyadh      5322
Jeddah       404
Madinah      143
Dammam       128
Abha         117
            ...
تثليث          1
العرضيات       1
الحناكية       1
المجاردة       1
الدائر         1
Name: count, Length: 97, dtype: int64

In [82]:
df['Technology Type'] = df['Technology Type'].replace({
    'تقليدية': 'Traditional',
    'ناشئة':'Emerging',
    'داعمة':'Supportive'})
print(df["Technology Type"].value_counts())

Technology Type
Traditional    6394
Emerging        489
Supportive      483
Name: count, dtype: int64

In [83]:
df['Program Skill Level'] = df['Program Skill Level'].replace({
    'متوسط': 'intermediate',
    'مبتدئ': 'beginner',
    'متقدم': 'advanced'})
print(df["Program Skill Level"].value_counts())

Program Skill Level
intermediate    4262
beginner        2320
advanced         784
Name: count, dtype: int64

In [84]:
df['Program Presentation Method'] = df['Program Presentation Method'].replace({
    'حضوري': 'In presence',
    'عن بعد':"online"})
print(df["Program Presentation Method"].value_counts())

Program Presentation Method
In presence    5580
online         1786
Name: count, dtype: int64

In [85]:
df['Completed Degree']=df['Completed Degree'].replace({'لا':0})
df['Completed Degree']=df['Completed Degree'].replace({'نعم':1})

In [86]:
df['Completed Degree'].value_counts()

Completed Degree
1    5845
0    1521
Name: count, dtype: int64

In [87]:
df['Level of Education'] = df['Level of Education'].replace({
    'البكالوريوس': 'bachelor',
    'الماجستير': 'master',
    'متوسط':"elemntray",
    'الدكتوراه':"PHD",
    'الدبلوم':"diploma",
    'ثانوي': 'high school'})
df['Level of Education'].value_counts()

Level of Education
bachelor       6118
master          554
diploma         354
high school     304
PHD              35
elemntray         1
Name: count, dtype: int64

In [88]:
df['College'] = df['College'].replace({
    'تكنولوجيا الاتصالات والمعلومات': 'Information and communications technology'})
df['College'].value_counts()

College
Information and communications technology    6985
الأعمال والإدارة والقانون                     170
العلوم الطبيعية والرياضيات والإحصاء            64
الهندسة والتصنيع والبناء                       46
الفنون والعلوم الإنسانية                       44
العلوم الاجتماعية والصحافة والإعلام            29
التعليم                                        22
الصحة والرفاة                                   4
البرامج والمؤهلات العامة                        2
Name: count, dtype: int64

In [89]:
df['Employment Status'] = df['Employment Status'].replace({
    'موظف': 'employee',
    'خريج': 'graduate',
    'طالب': 'student',
    'غير موظف':'Non-employee',
    'موظف - طالب':'Employee - Student',
    'عمل حر':'freelancer'})
df['Employment Status'].value_counts()

Employment Status
employee              3151
Non-employee          1247
student               1090
graduate              1071
Employee - Student      99
freelancer              72
Name: count, dtype: int64

In [90]:
df['Job Type'] = df['Job Type'].replace({
    'دوام كامل': 'full time',
    'تدريب': 'training',
    'دوام جزئي':'part-time',
    'تطوع':'Volunteer'})
df['Job Type'].value_counts()

Job Type
full time    1558
training      541
part-time      71
Volunteer      48
Name: count, dtype: int64

In [91]:
df.head()

,Age,Gender,Home Region,Home City,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,Program Presentation Method,Program Start Date,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,37,0,Riyadh region,Riyadh,PCRF,PCRF,Traditional,intermediate,In presence,2023-05-28,...,1,bachelor,Software Engineering,Information and communications technology,2.44,4.0,Non-employee,NaN,NaN,0.0
1,21,0,Asir region,خميس مشيط,APMR,SWPS,Traditional,intermediate,In presence,2023-04-02,...,1,bachelor,"Radio, television and film",الفنون والعلوم الإنسانية,5.00,5.0,student,NaN,NaN,0.0
2,24,0,Riyadh region,Riyadh,APMR,SWPS,Traditional,intermediate,In presence,2023-07-23,...,1,bachelor,Information Technology,Information and communications technology,3.50,5.0,employee,NaN,NaN,0.0
3,23,0,Riyadh region,Riyadh,TOSL,TOSL,Traditional,intermediate,In presence,2023-07-23,...,1,bachelor,Computer Network and Communication,Information and communications technology,3.55,5.0,graduate,NaN,NaN,0.0
4,23,0,Riyadh region,Riyadh,CAUF,SWPS,Traditional,intermediate,In presence,2023-04-30,...,0,bachelor,Information system,Information and communications technology,4.00,5.0,NaN,NaN,NaN,0.0

In [92]:
#fill the missing 
df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)
df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

In [93]:
df['Still Working'] = df['Still Working'].replace({
    'Yes': 1,
    'No': 0})
df['Still Working'].value_counts()

Still Working
1    6535
0     831
Name: count, dtype: int64

In [94]:
df['Y'] = df['Y'].astype("Int64")

In [95]:
#cheak the missing value 
df.isna().sum()

Age                                 0
Gender                              0
Home Region                         0
Home City                           0
Program Main Category Code          0
Program Sub Category Code           0
Technology Type                     0
Program Skill Level                 0
Program Presentation Method         0
Program Start Date                  0
Program End Date                    0
Program Days                        0
Completed Degree                    0
Level of Education                  0
Education Speaciality               0
College                             0
University Degree Score             0
University Degree Score System      0
Employment Status                   0
Job Type                            0
Still Working                       0
Y                                 818
dtype: int64

In [96]:
#split the data to categorical and numrical
Categorical = df.select_dtypes(include=[object]).columns
numerical = df.select_dtypes(include=[int,float]).columns

 encoding categorical variables

In [ ]:
#convert categorical to encoding
E_Categorical=pd.get_dummies(df[Categorical])

In [99]:
df_final = pd.concat([E_Categorical,df[numerical]], axis= 1)

df_test = df_final.iloc[6548:, ]
df_train = df_final.iloc[:6548, ]

Scaling numerical features

In [100]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [101]:
X = df_train.drop(columns='Y')
y = df_train['Y']
y

0       0
1       0
2       0
3       0
4       0
       ..
6543    0
6544    0
6545    1
6546    0
6547    0
Name: Y, Length: 6548, dtype: Int64

 Split the preprocessed data into training and testing sets.

In [102]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [103]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [104]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_train_oversampled, y_train_oversampled = smote.fit_resample(X_train, y_train)

In [105]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg = LogisticRegression(random_state=42)
logreg.fit(X_train_oversampled, y_train_oversampled)

# Make predictions on the test set
y_pred = logreg.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8526717557251908

In [106]:
from pycaret.classification import ClassificationExperiment
merged_df = X_train_oversampled
merged_df['Y'] = y_train_oversampled
exp = ClassificationExperiment()
seed = 42
exp.setup(
    data=merged_df,
    target='Y',
    session_id=seed,
    train_size=0.8,
    fold=5,
    normalize=True,
    #fix_imbalance=True
)

In [107]:
model = exp.compare_models(sort='Accuracy')

In [108]:
best_model = exp.tune_model(model, optimize='Accuracy', custom_grid=None)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [109]:
exp.evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [111]:
test_data= exp.pipeline.transform(merged_df.drop(columns=['Y'])[6548:])

In [112]:
y_pred= best_model.predict(test_data)
y_pred=pd.DataFrame(y_pred)
y_pred.index = np.arange(1, len(y_pred)+1 )
y_pred = y_pred.reset_index().rename({'index': 'ID'})

In [113]:
y_pred.to_csv("final_predictions.csv")