In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import csv

 Download The datasets

In [2]:
import os

os.listdir('.')

['.git', 'final_predictions.csv', 'logs.log', 'task.ipynb']

In [146]:
#read the datasets
df_train=pd.read_csv("C:/Users/wedfa/Downloads/dataset/train.csv")
df_test=pd.read_csv("C:/Users/wedfa/Downloads/dataset/test.csv")

In [147]:
df_train.shape

(6548, 24)

In [17]:
#merge the datasete
df=pd.concat([df_train,df_test])

 Explore the datasets

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7366 entries, 0 to 817
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      7366 non-null   object
 1   Age                             7260 non-null   float64
 2   Gender                          7366 non-null   object
 3   Home Region                     7363 non-null   object
 4   Home City                       7363 non-null   object
 5   Program ID                      7366 non-null   object
 6   Program Main Category Code      7366 non-null   object
 7   Program Sub Category Code       6316 non-null   object
 8   Technology Type                 4020 non-null   object
 9   Program Skill Level             5520 non-null   object
 10  Program Presentation Method     7366 non-null   object
 11  Program Start Date              7366 non-null   object
 12  Program End Date                7366 non-null   object
 13  Program Days                    7366 non-null   int64
 14  Completed Degree                7366 non-null   object
 15  Level of Education              7337 non-null   object
 16  Education Speaciality           7052 non-null   object
 17  College                         2984 non-null   object
 18  University Degree Score         7274 non-null   float64
 19  University Degree Score System  7274 non-null   float64
 20  Employment Status               6730 non-null   object
 21  Job Type                        2218 non-null   object
 22  Still Working                   2218 non-null   object
 23  Y                               6548 non-null   float64
dtypes: float64(4), int64(1), object(19)
memory usage: 1.4+ MB

In [19]:
df.describe()

,Age,Program Days,University Degree Score,University Degree Score System,Y
count,7260.000000,7366.000000,7274.000000,7274.000000,6548.000000
mean,26.813912,19.669970,8.244583,9.769728,0.158674
std,5.527743,31.975408,19.171624,21.248205,0.365400
min,18.000000,3.000000,0.000000,4.000000,0.000000
25%,23.000000,5.000000,3.300000,5.000000,0.000000
50%,25.000000,12.000000,4.000000,5.000000,0.000000
75%,29.000000,19.000000,4.510000,5.000000,0.000000
max,58.000000,292.000000,100.000000,100.000000,1.000000

In [20]:
df.shape

(7366, 24)

In [21]:
df.tail()

,Student ID,Age,Gender,Home Region,Home City,Program ID,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
813,c4bd99a6-2902-4822-947e-2a3aab3f1e92,36.0,ذكر,منطقة الرياض,الرياض,1b546d80-2ed0-42e6-9867-61b3d2f92d50,GRST,INFA,NaN,متوسط,...,نعم,البكالوريوس,علوم حاسب,NaN,2.55,5.0,موظف,NaN,NaN,NaN
814,2e057846-ee90-4b31-b6e7-c1c5122f4cbd,29.0,ذكر,منطقة الرياض,الرياض,aa87165d-cbde-4453-baca-1c8c03775e39,CAUF,CRDP,داعمة,مبتدئ,...,نعم,البكالوريوس,الهندسة الكهربائية,الهندسة والتصنيع والبناء,3.00,4.0,NaN,NaN,NaN,NaN
815,8f9ff50d-510c-4d56-b0eb-60c2fb1c5e84,32.0,ذكر,منطقة الرياض,الرياض,c49987af-b421-4b88-b36a-a0ec91d95aa3,GRST,INFA,تقليدية,متوسط,...,نعم,البكالوريوس,شبكات حاسب,NaN,3.00,5.0,موظف,NaN,NaN,NaN
816,8a49b6cd-e7c3-460b-8126-a419cf995e6e,28.0,أنثى,منطقة الرياض,الرياض,899795e1-7bf3-46d0-a58e-824d4033f6da,PCRF,PCRF,تقليدية,متوسط,...,لا,البكالوريوس,نظم معلومات حاسوبية,NaN,4.12,5.0,غير موظف,NaN,NaN,NaN
817,4a15a037-f5f4-4947-8a67-9f28494a6f26,23.0,ذكر,منطقة الرياض,الرياض,0d6336e2-4a79-4c32-8f15-073f9a4f6976,PCRF,PCRF,تقليدية,مبتدئ,...,نعم,البكالوريوس,هندسة برمجيات,NaN,4.55,5.0,خريج,NaN,NaN,NaN

In [22]:
df.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

preprocessing

In [23]:
#display the sum of null values in each column
df.isna().sum()

Student ID                           0
Age                                106
Gender                               0
Home Region                          3
Home City                            3
Program ID                           0
Program Main Category Code           0
Program Sub Category Code         1050
Technology Type                   3346
Program Skill Level               1846
Program Presentation Method          0
Program Start Date                   0
Program End Date                     0
Program Days                         0
Completed Degree                     0
Level of Education                  29
Education Speaciality              314
College                           4382
University Degree Score             92
University Degree Score System      92
Employment Status                  636
Job Type                          5148
Still Working                     5148
Y                                  818
dtype: int64

In [24]:
#data types for all
df.dtypes

Student ID                         object
Age                               float64
Gender                             object
Home Region                        object
Home City                          object
Program ID                         object
Program Main Category Code         object
Program Sub Category Code          object
Technology Type                    object
Program Skill Level                object
Program Presentation Method        object
Program Start Date                 object
Program End Date                   object
Program Days                        int64
Completed Degree                   object
Level of Education                 object
Education Speaciality              object
College                            object
University Degree Score           float64
University Degree Score System    float64
Employment Status                  object
Job Type                           object
Still Working                      object
Y                                 float64
dtype: object

In [25]:
df.shape

(7366, 24)

In [28]:
# fill null values
df['Age'].fillna(df['Age'].mean() , inplace=True)

In [29]:
#convert float to int
df['Age']=df['Age'].astype(int)

In [30]:
#drop the student id and program id
df = df.drop(['Student ID','Program ID'], axis=1)

In [31]:
df['Gender']=df['Gender'].replace({'ذكر':"0"}).astype('object')
df['Gender']=df['Gender'].replace({'أنثى':"1"}).astype('object')

In [32]:
print(df['Gender'].value_counts())

Gender
1    4146
0    3220
Name: count, dtype: int64

In [33]:
# fill null values
df['Home Region'].fillna(df['Home Region'].mode()[0], inplace=True)
df['Home City'].fillna(df['Home City'].mode()[0], inplace=True)

In [34]:
# fill null values
df['Program Sub Category Code'].fillna(df['Program Sub Category Code'].mode()[0], inplace=True)
df['Technology Type'].fillna(df['Technology Type'].mode()[0], inplace=True)
df['Program Skill Level'].fillna(df['Program Skill Level'].mode()[0], inplace=True)

In [35]:
#df['Program Presentation Method'] = df['Program Presentation Method'].astype(bool)

In [36]:
#conert to a datatime 
df['Program Start Date'] = pd.to_datetime(df['Program Start Date'])
df['Program End Date'] = pd.to_datetime(df['Program End Date'])

In [37]:
#df['Completed Degree'] = df['Completed Degree'].astype(bool)

In [38]:
# fill null values
df['Level of Education'].fillna(df['Level of Education'].mode()[0], inplace=True)
df['College'].fillna(df['College'].mode()[0], inplace=True)
df['University Degree Score'].fillna(df['University Degree Score'].mean() , inplace=True)
df['University Degree Score System'].fillna(df['University Degree Score System'].mean() , inplace=True)
df['Education Speaciality'].fillna(df['Education Speaciality'].mode()[0], inplace=True)

In [39]:
#to know the major 
df['Education Speaciality']

0                         هندسة حاسب الالي
1               الإذاعة والتلفزيون والفيلم
2                   Information Technology
3      حوسبة تطبيقية - (مسار شبكات الحاسب)
4                  نظم المعلومات الحاسوبية
                      ...
813                              علوم حاسب
814                     الهندسة الكهربائية
815                             شبكات حاسب
816                    نظم معلومات حاسوبية
817                          هندسة برمجيات
Name: Education Speaciality, Length: 7366, dtype: object

In [40]:
#convert the name of major to one name 
df['Education Speaciality']=df['Education Speaciality'].replace({'Computer Science':"Computer Science"})
df['Education Speaciality']=df['Education Speaciality'].replace({'Information technology': 'Information technology'})
df['Education Speaciality']=df['Education Speaciality'].replace({'Cyber security': 'Cyber security'})
df['Education Speaciality']=df['Education Speaciality'].replace({'امن سيبراني': 'Cyber security'})

In [41]:
#convert the name of major to one name
df['Education Speaciality']=df['Education Speaciality'].replace({'علوم الحاسبات':"Computer Science"})
df['Education Speaciality']=df['Education Speaciality'].replace({'علوم حاسب':"Computer Science"})

In [42]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'هندسة برمجيات': 'Software Engineering',
    'هندسة حاسب': 'Software Engineering',
   'هندسة الحاسب': 'Software Engineering',
    'Software Engineering': 'Software Engineering',
    'هندسة حاسب آلي': 'Software Engineering',
   "هندسة تقنية برمجيات": 'Software Engineering',
    "هندسةالبرمجيات": "Software Engineering",
})

In [43]:
#convert the name of major to one name
df['Education Speaciality']=df['Education Speaciality'].replace({"Computer Network and Communication":"Computer Network and Communication","شبكات الحاسب الآلي":"Computer Network and Communication"})

In [44]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'MIS': 'Information technology',
    'نظم معلومات إدارية': 'Information technology',
   "نظم معلومات ادارية": 'Information technology',
})

In [45]:
#convert the name of major to one name
df['Education Speaciality'] = df['Education Speaciality'].replace({
    'Information Systems': 'Information technology',
    'Computer Information Systems': 'Information technology',
    'نظم معلومات': 'Information technology',
    'نظم المعلومات الحاسوبية': 'Information technology',
    'نظم معلومات الحاسوبية': 'Information technology',
    'نظم المعلومات':"Information technology",
    "محاسبة":"accountant",
    "تقنية المعلومات":"Information technology",
    "معلوماتية صحية":"Health informatics",
    "بكالوريس خدمة اجتماعيه":"social service",
    "غير متخصص":"other"
})

In [46]:
df['Education Speaciality'].value_counts()

Education Speaciality
Computer Science                             2043
Information technology                       1743
Software Engineering                          222
علوم الحاسب                                   205
Computer Network and Communication            170
                                             ...
علوم التغذية                                    1
احصاء تطبيقي                                    1
اقتصاد منزلي                                    1
Applied Computing-Computer Networks Track       1
تقنية معلومات - الشبكات وانظمة الاتصالات        1
Name: count, Length: 907, dtype: int64

In [47]:
df['Home Region'] = df['Home Region'].replace({
    'منطقة الرياض': 'Riyadh region',
    'منطقة القصيم': 'Qassim region',
    'المنطقة الشرقية': 'Eastern Region',
    'منطقة الحدود الشمالية': 'Northern border region',
    'منطقة الجوف': 'Al-Jawf region'

})

In [48]:
df["Home Region"].value_counts()

Home Region
Riyadh region             5396
منطقة مكة المكرمة          677
Eastern Region             494
منطقة عسير                 192
منطقة المدينة المنورة      192
Qassim region              116
منطقة جازان                 64
منطقة تبوك                  59
منطقة الباحة                52
منطقة حائل                  38
منطقة نجران                 31
Al-Jawf region              29
Northern border region      26
Name: count, dtype: int64

In [49]:
df['Home City'] = df['Home City'].replace({
    'الرياض': 'Riyadh',
    'بريدة': 'Buraidah',
    'القطيف': 'Qatif',
    'رفحاء': 'Rafha',
    'طبرجل': 'Tabarjal'

})

In [50]:
df["Home City"].value_counts()

Home City
Riyadh             5322
جدة                 404
المدينة المنورة     143
الدمام              128
أبها                117
                   ...
تثليث                 1
العرضيات              1
الحناكية              1
المجاردة              1
الدائر                1
Name: count, Length: 97, dtype: int64

In [51]:
df['Technology Type'] = df['Technology Type'].replace({
    'تقليدية': 'Traditional'})
print(df["Technology Type"].value_counts())

Technology Type
Traditional    6394
ناشئة           489
داعمة           483
Name: count, dtype: int64

In [52]:
df['Program Skill Level'] = df['Program Skill Level'].replace({
    'متوسط': 'intermediate',
    'مبتدئ': 'beginner',
    'متقدم': 'advanced'})
print(df["Program Skill Level"].value_counts())

Program Skill Level
intermediate    4262
beginner        2320
advanced         784
Name: count, dtype: int64

In [53]:
df['Program Presentation Method'] = df['Program Presentation Method'].replace({
    'حضوري': 'In presence'})
print(df["Program Presentation Method"].value_counts())

Program Presentation Method
In presence    5580
عن بعد         1786
Name: count, dtype: int64

In [54]:
df['Completed Degree']=df['Completed Degree'].replace({'لا':"0"}).astype('object')
df['Completed Degree']=df['Completed Degree'].replace({'نعم':"1"}).astype('object')

In [55]:
df['Completed Degree'].value_counts()

Completed Degree
1    5845
0    1521
Name: count, dtype: int64

In [56]:
df['Level of Education'] = df['Level of Education'].replace({
    'البكالوريوس': 'bachelor',
    'الماجستير': 'master',
    'ثانوي': 'high school'})
df['Level of Education'].value_counts()

Level of Education
bachelor       6118
master          554
الدبلوم         354
high school     304
الدكتوراه        35
متوسط             1
Name: count, dtype: int64

In [57]:
df['College'] = df['College'].replace({
    'تكنولوجيا الاتصالات والمعلومات': 'Information and communications technology'})
df['College'].value_counts()

College
Information and communications technology    6985
الأعمال والإدارة والقانون                     170
العلوم الطبيعية والرياضيات والإحصاء            64
الهندسة والتصنيع والبناء                       46
الفنون والعلوم الإنسانية                       44
العلوم الاجتماعية والصحافة والإعلام            29
التعليم                                        22
الصحة والرفاة                                   4
البرامج والمؤهلات العامة                        2
Name: count, dtype: int64

In [58]:
#df['Employment Status'] = df['Employment Status'].replace({
   # 'موظف': 'employee',
 #   'خريج': 'graduate',
 #   'طالب': 'student'})
#df['Employment Status'].value_counts()

In [59]:
df['Job Type'] = df['Job Type'].replace({
    'دوام كامل': 'full time',
    'تدريب': 'training'})
df['Job Type'].value_counts()

Job Type
full time    1558
training      541
دوام جزئي      71
تطوع           48
Name: count, dtype: int64

In [60]:
df.head()

,Age,Gender,Home Region,Home City,Program Main Category Code,Program Sub Category Code,Technology Type,Program Skill Level,Program Presentation Method,Program Start Date,...,Completed Degree,Level of Education,Education Speaciality,College,University Degree Score,University Degree Score System,Employment Status,Job Type,Still Working,Y
0,37,0,Riyadh region,Riyadh,PCRF,PCRF,Traditional,intermediate,In presence,2023-05-28,...,1,bachelor,هندسة حاسب الالي,Information and communications technology,2.44,4.0,غير موظف,NaN,NaN,0.0
1,21,0,منطقة عسير,خميس مشيط,APMR,SWPS,Traditional,intermediate,In presence,2023-04-02,...,1,bachelor,الإذاعة والتلفزيون والفيلم,الفنون والعلوم الإنسانية,5.00,5.0,طالب,NaN,NaN,0.0
2,24,0,Riyadh region,Riyadh,APMR,SWPS,Traditional,intermediate,In presence,2023-07-23,...,1,bachelor,Information Technology,Information and communications technology,3.50,5.0,موظف,NaN,NaN,0.0
3,23,0,Riyadh region,Riyadh,TOSL,TOSL,Traditional,intermediate,In presence,2023-07-23,...,1,bachelor,حوسبة تطبيقية - (مسار شبكات الحاسب),Information and communications technology,3.55,5.0,خريج,NaN,NaN,0.0
4,23,0,Riyadh region,Riyadh,CAUF,SWPS,Traditional,intermediate,In presence,2023-04-30,...,0,bachelor,Information technology,Information and communications technology,4.00,5.0,NaN,NaN,NaN,0.0

In [61]:
#fill the missing 
df['Job Type'].fillna(df['Job Type'].mode()[0], inplace=True)
df['Employment Status'].fillna(df['Employment Status'].mode()[0], inplace=True)
df['Still Working'].fillna(df['Still Working'].mode()[0], inplace=True)

In [62]:
#df['Still Working'] = df['Still Working'].astype(bool)

In [63]:
#conert the target to boolean
df['Y'] = df['Y'].astype(bool)

In [64]:
df['Y'].value_counts()

Y
False    5509
True     1857
Name: count, dtype: int64

In [65]:
df['Y'].value_counts()

Y
False    5509
True     1857
Name: count, dtype: int64

In [66]:
#cheak the missing value 
df.isna().sum()

Age                               0
Gender                            0
Home Region                       0
Home City                         0
Program Main Category Code        0
Program Sub Category Code         0
Technology Type                   0
Program Skill Level               0
Program Presentation Method       0
Program Start Date                0
Program End Date                  0
Program Days                      0
Completed Degree                  0
Level of Education                0
Education Speaciality             0
College                           0
University Degree Score           0
University Degree Score System    0
Employment Status                 0
Job Type                          0
Still Working                     0
Y                                 0
dtype: int64

In [ ]:
#cheak the duplicates
# df.duplicated().sum()

55

In [ ]:
#drop the duplicates
# df=df.drop_duplicates()

In [ ]:
#cheak the duplicates
# df.duplicated().sum()

0

In [72]:
print(df.isnull().sum())

Age                               0
Gender                            0
Home Region                       0
Home City                         0
Program Main Category Code        0
Program Sub Category Code         0
Technology Type                   0
Program Skill Level               0
Program Presentation Method       0
Program Start Date                0
Program End Date                  0
Program Days                      0
Completed Degree                  0
Level of Education                0
Education Speaciality             0
College                           0
University Degree Score           0
University Degree Score System    0
Employment Status                 0
Job Type                          0
Still Working                     0
Y                                 0
dtype: int64

In [120]:
#split the data to categorical and numrical
Categorical = df.select_dtypes(include=[object]).columns
numerical = df.select_dtypes(include=[int,float]).columns

 encoding categorical variables

In [141]:
#convert categorical to encoding
from sklearn.preprocessing import OneHotEncoder
#Convert 'Categorical' to a 2D array
# categorical_2d = Categorical.values.reshape(-1, 1)
# Encoder=OneHotEncoder(sparse_output=False)

# E_Categorical=Encoder.fit_transform(df[Categorical])
E_Categorical=pd.get_dummies(df[Categorical])

In [153]:
df_final = pd.concat([E_Categorical,df[numerical], df[['Y']]], axis= 1)

df_test = df_final.iloc[6548:, ]
df_train = df_final.iloc[:6548, ]
df_test.shape
df_train.shape

(6548, 1082)

Scaling numerical features

In [157]:
#convert numerical to scalling
from sklearn.preprocessing import StandardScaler
# #Convert 'Categorical' to a 2D array
# numerical_2d = numerical.values.reshape(-1, 1)
# Scaler=StandardScaler()
# df_train_numerical=Encoder.fit_transform(df_train[numerical])
# df_test_numerical=Encoder.transform(df_test[numerical])

In [156]:
df_test[numerical].Age

0      23
1      31
2      29
3      23
4      30
       ..
813    36
814    29
815    32
816    28
817    23
Name: Age, Length: 818, dtype: int32

In [163]:
#split fueatura and target (X:Fueatura Y:target)
# X = pd.concat([pd.DataFrame(E_Categorical), pd.DataFrame(numerical)], axis=1)
X = df_train.drop(columns='Y')
y = df_train['Y']
# Align the dataframes
# X, y = X.align(y, axis=0, join='inner')

In [164]:
from sklearn.impute import SimpleImputer
imputer_X = SimpleImputer(strategy='mean')
X = imputer_X.fit_transform(X)

In [161]:
# from imblearn.under_sampling import RandomUnderSampler
# rus = RandomUnderSampler()
# X_resampled, y_resampled = rus.fit_resample(X, y)

IndexError: index 6548 is out of bounds for axis 0 with size 6548

 Split the preprocessed data into training and testing sets.

In [165]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg = LogisticRegression(random_state=42)
logreg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = logreg.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6666666666666666

In [ ]:
from pycaret.classification import ClassificationExperiment
exp = ClassificationExperiment()
X_train

array([[0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        1.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 1.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 1.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 1.  , 0.  , 0.25, 0.25, 0.25, 0.25],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
        0.  , 0.  , 0.  , 0.  , 0.25, 0.25, 0.25, 0.25]])

In [ ]:
y_train

8     False
9     False
6     False
11    False
3     False
13    False
1     False
4      True
5     False
2     False
14     True
7     False
Name: Y, dtype: bool

In [167]:
from sklearn.svm import SVC
from sklearn.metrics import f1_score, accuracy_score


svc_clf = SVC(random_state=42)

svc_clf.fit(X_train,y_train)

y_pred = svc_clf.predict(X_test)

svc_accuracy = accuracy_score(y_pred,y_test)
print(f'accuracy score : {round(svc_accuracy*100,2)}%')

svc_f1score = f1_score(y_pred,y_test)
print(f'f1 score : {round(svc_f1score*100,2)}%')

accuracy score : 83.36%
f1 score : 11.38%

In [168]:
import xgboost as xgb
# Define the XGBoost classifier
xgb_model = xgb.XGBClassifier(random_seed=42)

# Fit the XGBoost model
xgb_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_model.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f'accuracy score : {round(accuracy*100,2)}%')

xgb_f1score = f1_score(y_test,y_pred)
print(f'f1 score : {round(xgb_f1score*100,2)}%')

c:\Users\wedfa\miniconda3\envs\t5\lib\site-packages\xgboost\core.py:160: UserWarning: [15:13:03] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "random_seed" } are not used.

  warnings.warn(smsg, UserWarning)

accuracy score : 87.33%
f1 score : 57.22%

In [169]:
from sklearn.neighbors import KNeighborsClassifier
# Define the K Neighbors Classifier
knn_model = KNeighborsClassifier(n_neighbors=5)

# Fit the K Neighbors Classifier
knn_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn_model.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f'accuracy score : {round(accuracy*100,2)}%')

xgb_f1score = f1_score(y_test,y_pred)
print(f'f1 score : {round(xgb_f1score*100,2)}%')

accuracy score : 84.89%
f1 score : 35.29%

In [170]:
from sklearn.model_selection import GridSearchCV

svc_params = {
    'C':[0.1,1,10],
}

grid_search = GridSearchCV(estimator=svc_clf,param_grid=svc_params,cv=3)
grid_search.fit(X_train,y_train)
best_model = grid_search.best_estimator_

final_predictions = best_model.predict(X_test)

print(f'best accuracy : {round(grid_search.best_score_*100,2)}%')
print(f'best params : {grid_search.best_params_}')

best accuracy : 84.65%
best params : {'C': 1}

In [188]:
# y_df= pd.DataFrame(final_predictions, columns=['Y'])

# df_test = df_test.drop(columns=['Y'])

final_predictions = best_model.predict(df_test)

final_predictions = pd.DataFrame(final_predictions)
final_predictions.index = np.arange(1, len(final_predictions)+1 )
final_predictions = final_predictions.reset_index().rename({'index': 'ID'})
# final_predictions['ID'] = [x+1 for x in final_predictions['ID']]
final_predictions

c:\Users\wedfa\miniconda3\envs\t5\lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

     index      0
0        1  False
1        2  False
2        3  False
3        4  False
4        5  False
..     ...    ...
813    814  False
814    815  False
815    816  False
816    817   True
817    818  False

[818 rows x 2 columns]

In [172]:
y_df.to_csv("final_predictions.csv")